<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tournament.country %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @tournament.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @tournament.endDate %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
