<div class="container-fluid top-margin">
	<div class="row">
		<div class="col-md-8">
			<%= link_to "Volver", root_path(:championship => params[:championship]), class: "btn btn-primary btn-lg pull-right top-margin" %>
			<div class="news-bigger-title"><%= @news.title %></div>
			<%= image_tag @news.image.url(:original), class: "img-responsive image-center" %>
			<div class="news-subtitle"><%= local_time(@news.updated_at) %></div>
			<div class="content-text top-margin"><%= simple_format(@news.body) %></div>
			<hr>
			<%= link_to "Volver", root_path(:championship => params[:championship]), class: "btn btn-primary btn-lg pull-right" %>

			<% if current_user %>
				<% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
					<%= link_to 'Editar', edit_news_path(@news), class: "btn btn-primary btn-lg pull-right" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

