<div class="row">
	<div class="col-md-3 col-sm1">
		<% if current_user %>
			<% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
				<%= link_to 'Editar', edit_news_path(@news), class: "btn btn-primary btn-lg pull-right" %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-6 col-sm10">
		<div class="news-bigger-title news-bigger-title-fs"><%= @news.title %></div>
		<div class="news-bigger-title">
			<% begin %>
				<% if @news.image_link_small.nil? || @news.image_link_small.empty? %>
					<%= image_tag @news.image.url(:medium), class: "img-responsive image-center" %>
				<% else %> 
					<%= @news.image_link_small.html_safe %>										
				<% end %>
			<% rescue Exception %>
			<% end %>
		</div>


		<div class="news-subtitle-center"><%= local_time(@news.updated_at) %></div>
		
		<div class="content-text content-text-fs top-margin"><%= simple_format(@news.body) %></div>
		<div class="panel-body"><%= raw(@news.video_html) %></div>
		<hr>
	</div>
	<div class="col-md-3 col-sm1">
		<%= link_to "Volver", root_path(:championship => params[:championship]), class: "btn btn-primary btn-lg pull-right" %>
	</div>
</div>
