<div class="row">
	<div class="col-md-5">
		<div class="row">
			<% if @news_main %>
				<div class="col-md-12">
					<div class="text-header text-header-fs">
						<% if params[:championship] %>
							Noticias del Campeonato de <%= params[:championship] %>
						<% else %>
							Noticias
						<% end %>
					</div>
				</div>
				<%
				# For every news
				@news_main.each do |news|  %>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div>
									<% begin %>
										<% if news.image_link_small.nil? || news.image_link_small.empty? %>
											<%= image_tag news.image.url(:medium), class: "img-responsive" %>
										<% else %> 
											<%= news.image_link_small.html_safe %>
										<% end %>
									<% rescue Exception %>
									<% end %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="news-title news-title-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
								<div class="news-subtitle news-subtitle-fs"><%= local_time(news.updated_at) %></div>
								<div class="content-text content-text-fs"><%= simple_format(news.summary) %></div>
							</div>
						</div>
						<div><hr></div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="col-md-4">
		<% if params[:championship] %>
			<div class="row">
				<div class="col-md-12">
					<div class="text-header text-header-fs">Tabla de Posiciones del Campeonato</div>

					<% if @news_team_positions %>
						<%
						# For every news
						@news_team_positions.each do |news|  %>
							<div class="col-md-12">
								<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
								<%= news.image_link_small.html_safe %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>

		<div class="row">
			<div class="col-md-12">
				<div class="text-header text-header-fs">Próximos Juegos</div>

				<% if @news_next_games %>
					<%
					# For every news
					@news_next_games.each do |news|  %>
						<div class="col-md-12">
							<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
							<%= news.image_link_small.html_safe %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		
		<% if params[:championship] %>
			<div class="row">
				<div class="col-md-12">
					<div class="text-header text-header-fs">Goleadores del Campeonato</div>

					<% if @news_top_scorers %>
						<%
						# For every news
						@news_top_scorers.each do |news|  %>
							<div class="col-md-12">
								<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
								<%= news.image_link_small.html_safe %>
							</div>
						<% end %>
					<% end %>
				</div>
		<% end %>
	</div>

	<div class="col-md-3">
		<div class="row">
			<% if @news_day_like_today %>

				<% @news_day_like_today.each do |news|  %>
					<div class="col-md-12 section-header-blue section-header-fs">Un día como hoy</div>
					<div class="col-md-12">
						<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
						<div>
							<% begin %>
								<% if news.image_link_small.nil? || news.image_link_small.empty? %>
									<%= image_tag news.image.url(:medium), class: "img-responsive image-center" %>
								<% elsif %> 
									<%= news.image_link_small.html_safe %>
								<% end %>
							<% rescue Exception %>
							<% end %>
						</div>
						<div class="content-text content-text-fs"><%= simple_format(news.summary) %></div>
						<div><hr></div>
					</div>
				<% end %>
			<% end %>
			

			<% if @news_know_better_to %>
				<% @news_know_better_to.each do |news|  %>
					<div class="col-md-12 section-header-blue section-header-fs">Conozca mejor a</div>
					<div class="col-md-12">
						<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
						<div>
							<% begin %>
								<% if news.image_link_small.nil? || news.image_link_small.empty? %>
									<%= image_tag news.image.url(:medium), class: "img-responsive image-center" %>
								<% else %> 
									<%= news.image_link_small.html_safe %>										
								<% end %>
							<% rescue Exception %>
							<% end %>
						</div>
						<div class="content-text content-text-fs"><%= simple_format(news.summary) %></div>
						<div><hr></div>
					</div>
				<% end %>
			<% end %>

			<% if @news_things_we_learned %>
				<% @news_things_we_learned.each do |news| %>
					<div class="col-md-12 section-header-blue section-header-fs">3 Cosas que confirmamos</div>
					<div class="col-md-12">
						<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
						<div>
							<% begin %>
								<% if news.image_link_small.nil? || news.image_link_small.empty? %>
									<%= image_tag news.image.url(:medium), class: "img-responsive image-center" %>
								<% else %> 
									<%= news.image_link_small.html_safe %>										
								<% end %>
							<% rescue Exception %>
							<% end %>
						</div>
						<div class="content-text content-text-fs"><%= simple_format(news.summary) %></div>
						<div><hr></div>
					</div>
				<% end %>
			<% end %>

			<% if @news_player_week %>
				<% @news_player_week.each do |news| %>
					<div class="col-md-12 section-header-green section-header-fs">Jugador de la semana</div>
					<div class="col-md-12">
						<div class="news-title-small news-title-small-fs"><%= link_to news.title, news_path(news, :championship => params[:championship]) %></div>
						<div>
							<% begin %>
								<% if news.image_link_small.nil? || news.image_link_small.empty? %>
									<%= image_tag news.image.url(:medium), class: "img-responsive image-center" %>
								<% else %> 
									<%= news.image_link_small.html_safe %>										
								<% end %>
							<% rescue Exception %>
							<% end %>
						</div>
						<div class="content-text content-text-fs"><%= simple_format(news.summary) %></div>
						<div><hr></div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
