<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Local</th>
      <th>Local Goles</th>
      <th>Visitante</th>
      <th>Visita Goles</th>
      <th>Game date</th>
      <th>Torneo</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>

      <tr>
        <td><%= Team.find(game.home_team).name %></td>
        <td><%= game.home_team_result %></td>
        <td><%= Team.find(game.visit_team).name %></td>
        <td><%= game.visit_team_result %></td>
        <td><%= game.game_date %></td>
        <td><%= game.tournament_id %></td>
        <td><%= game.status %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Game', new_game_path %>
