<p id="notice"><%= notice %></p>

<p>
  <strong>Pg:</strong>
  <%= @championshiptable.pg %>
</p>

<p>
  <strong>Wg:</strong>
  <%= @championshiptable.wg %>
</p>

<p>
  <strong>Tg:</strong>
  <%= @championshiptable.tg %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @championshiptable.lg %>
</p>

<p>
  <strong>Sg:</strong>
  <%= @championshiptable.sg %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @championshiptable.rg %>
</p>

<p>
  <strong>Gd:</strong>
  <%= @championshiptable.gd %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @championshiptable.pts %>
</p>

<%= link_to 'Edit', edit_championshiptable_path(@championshiptable) %> |
<%= link_to 'Back', championshiptables_path %>
