<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <button type="button" class="navbar-toggle collapsed header-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <div class="menu-header">Menu</div>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span> 
          </button>
        </div>
        <div class="col-md-8 col-sm-8">
          <%= link_to (image_tag "gol365.png", class: "navbar-brand img-responsive gol-logo", alt: "365 Gol - Pasion por el futbol. Resultados, Noticias y Tabla de Posiciones"), root_path %>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-left  menu-option menu-option-fs">
          <li class="menu-option-list"><%= link_to "México".html_safe, root_path(:championship => 'Mexico') %></li>
          <li class="menu-option-list"><%= link_to "Costa Rica".html_safe, root_path(:championship => 'Costa Rica') %></li>
          <li class="menu-option-list"><%= link_to "España".html_safe, root_path(:championship => 'España') %></li>
          <li class="menu-option-list"><%= link_to "Inglaterra".html_safe, root_path(:championship => 'Inglaterra') %></li>
          <li class="menu-option-list"><%= link_to "Champions League".html_safe, root_path(:championship => 'Champions League') %></li>
          <li class="menu-option-list"><%= link_to "Libertadores".html_safe, root_path(:championship => 'Libertadores') %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otras Acciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
                <li class="menu-option-list"><%= link_to "<i class='fa fa-newspaper-o'></i>&nbsp;Crear Noticia".html_safe, new_news_path %></li>
              <% end %>

              <li class="menu-option-list"><%= link_to "<i class='fa fa-times-circle'></i>&nbsp;Salir".html_safe, destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-user-plus'></i>&nbsp;Registrarse".html_safe, new_user_registration_path %><</li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-sign-in'></i>&nbsp;Ingresar".html_safe, new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
