<nav class="navbar navbar-default header">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
        <%= link_to (image_tag "gol365.png", class: "navbar-brand img-responsive gol-logo", alt: "365 Gol - Pasion por el futbol. Resultados, Noticias y Tabla de Posiciones"), root_path %>
        <button type="button" class="navbar-toggle collapsed header-button pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <div class="menu-header">Menu</div>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar header-line"></span>
          <span class="icon-bar header-line"></span>
          <span class="icon-bar header-line"></span>
          <span class="icon-bar header-line"></span> 
        </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <ul class="nav navbar-nav navbar-left  menu-option menu-option-fs">
        <li class="menu-option-list"><%= link_to "Primera Divisi贸n".html_safe, root_path(:championship => Tournament.category_values["Primera"]) %></li>
        <li class="menu-option-list"><%= link_to "Segunda Divisi贸n".html_safe, root_path(:championship => 'Segunda Divisi贸n') %></li>
        <li class="menu-option-list"><%= link_to "Selecci贸n Nacional".html_safe, root_path(:championship => 'Eliminatorias Rusia 2018') %></li>
        <li class="menu-option-list"><%= link_to "Legionarios".html_safe, root_path(:championship => 'Legionarios') %></li>
      </ul>
    </ul>

    <ul class="nav navbar-nav menu-option pull-right">
      <% if current_user %>
        <% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
          <li class="menu-option-list"><%= link_to "<i class='fa fa-newspaper-o'></i>&nbsp;Crear Noticia".html_safe, new_news_path %></li>
        <% end %>
        <li class="menu-option-list"><%= link_to "<i class='fa fa-times-circle'></i>&nbsp;Salir".html_safe, destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="menu-option-list"><%= link_to "<i class='fa fa-user-plus'></i>&nbsp;Registrarse".html_safe, new_user_registration_path %></li>
        <li class="menu-option-list"><%= link_to "<i class='fa fa-sign-in'></i>&nbsp;Ingresar".html_safe, new_user_session_path %></li>
      <% end %>
    </ul>

    <% if current_user %>
      <% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
        <div class="admin-header" id="headerAdmin">
          <ul class="nav navbar-nav menu-option pull-right admin-header">
              <li class="menu-option-list"><%= link_to "<i class='fa fa-hand-o-right'></i>&nbsp;Acciones".html_safe, actionlists_path %></li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-trophy'></i>&nbsp;Campeonatos".html_safe, tournaments_path %></li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-hospital-o'></i>&nbsp;Estadios".html_safe, fields_path %></li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-users'></i>&nbsp;Equipos".html_safe, teams_path %></li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-user'></i>&nbsp;Jugadores".html_safe, players_path %></li>
              <li class="menu-option-list"><%= link_to "<i class='fa fa-gamepad'></i>&nbsp;Juegos".html_safe, games_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>
    <% end %>
  </div><!-- /.navbar-collapse -->
</nav>
