<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <%= link_to (image_tag "gol365.png", class: "navbar-brand img-responsive gol-logo"), root_path %>
        </div>
        <div class="col-md-2 col-sm-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span>
            <span class="icon-bar header-line"></span> 
          </button>
        </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">México<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'Mexico') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'Mexico') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'Mexico') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'Mexico') %></li>
          </ul>        
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Costa Rica<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'Costa Rica') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'Costa Rica') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'Costa Rica') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'Costa Rica') %></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brazil<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'Brazil') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'Brazil') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'Brazil') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'Brazil') %></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">España<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'España') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'España') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'España') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'España') %></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inglaterra<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'Inglaterra') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'Inglaterra') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'Inglaterra') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'Inglaterra') %></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Champions League<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><%= link_to "<i class='fa fa-newspaper-o'></i></i>&nbsp;&nbsp;Noticas".html_safe, root_path(:championship => 'Champions League') %></li>
              <li><%= link_to "<i class='fa fa-clock-o'></i>&nbsp;&nbsp;&nbsp;Próximos Partidos".html_safe, nextgames_path(:championship => 'Champions League') %></li>
              <li><%= link_to "<i class='fa fa-table'></i>&nbsp;&nbsp;&nbsp;Tabla de Posiciones".html_safe, teampositions_path(:championship => 'Champions League') %></li>
              <li><%= link_to "<i class='fa fa-trophy'></i>&nbsp;&nbsp;&nbsp;Goleadores".html_safe, topscorers_path(:championship => 'Champions League') %></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle menu-option menu-option-fs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otras Acciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <% if current_user.email == 'jr_diaz_cr@hotmail.com' %>
                <li><%= link_to "<i class='fa fa-newspaper-o'></i>&nbsp;Crear Noticia".html_safe, new_news_path %></li>
              <% end %>

              <li><%= link_to "<i class='fa fa-times-circle'></i>&nbsp;Salir".html_safe, destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "<i class='fa fa-user-plus'></i>&nbsp;Registrarse".html_safe, new_user_registration_path %><</li>
              <li><%= link_to "<i class='fa fa-sign-in'></i>&nbsp;Ingresar".html_safe, new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>