<div class="row"><div class="col-md-12 leftmenu-header"><p>CONCACAF</p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'México', root_path(:championship => 'Mexico') %></p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'Costa Rica', root_path(:championship => 'Costa Rica') %></p></div></div>
<div class="row"><div class="col-md-12 leftmenu-header"><p>CONMEBOL</p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'Brazil', root_path(:championship => 'Brazil') %></p></div></div>
<div class="row"><div class="col-md-12 leftmenu-header"><p>UEFA</p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'España', root_path(:championship => 'España') %></p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'Inglaterra', root_path(:championship => 'Inglaterra') %></p></div></div>
<div class="row"><div class="col-md-12 leftmenu-option"><p><%= link_to 'Champions League', root_path(:championship => 'Champions League') %></p></div></div>
