<!DOCTYPE html>
<html>
<head>
  <title>
  	<%
  	if params[:championship] %>
  		365 Gol - Noticias, Resultados y Posiciones del Campeonato de <%= params[:championship] %> 
	<% else %> 
		365 Gol - Noticias, Resultados y Posiciones
	<% end %>
  </title>
  <meta name="description" content="365 Gol Pasion por el futbol. Noticias, Resultados, Tabla de Posiciones, Goleadores de Liga MX, Campeonato de Costa Rica, España, Inglaterra">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

	<%= render "layouts/header" %>

	<% flash.each do |type, message| %>
		<div class="alert alert-info fade-in">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>

	<%= yield %>
<div class="header content-text-fs news-bigger-title">
	Noticias, Resultados, Tabla de Posiciones y Goleadores de los Campeonatos de Mexico, Costa Rica, España e Inglaterra. Sitio hecho con mi hijo Andres.
</div>
</body>
</html>
