<p id="notice"><%= notice %></p>

<h1>Listing Gameplayers</h1>

<table>
  <thead>
    <tr>
      <th>Idgame</th>
      <th>Iteam</th>
      <th>Idplayer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gameplayers.each do |gameplayer| %>
      <tr>
        <td><%= gameplayer.idgame %></td>
        <td><%= gameplayer.iteam %></td>
        <td><%= gameplayer.player_id %></td>
        <td><%= link_to 'Show', gameplayer %></td>
        <td><%= link_to 'Edit', edit_gameplayer_path(gameplayer) %></td>
        <td><%= link_to 'Destroy', gameplayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gameplayer', new_gameplayer_path %>
